// COLORS
$color-light: #fcfcfc;
$color-dark: #101010;
// FONTS
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
// MEDIA QUERIES
$mobile: 520px;
$mobile-plus: 580px;
$tablets: 840px;
$laptops: 1024px;
$desktop: 1340px;
